<h2>Flug suchen!</h2>
  

<form #f="ngForm" route>
    
    <div *ngIf="f.form.hasError('route')">
        Diese Route wird nicht angeboten!
    </div>
    
	<div class="form-group">
		<label>Von</label>
        
		<input [(ngModel)]="von" name="von" ngControl="von" ort required class="form-control">

        <div *ngIf="f?.controls?.von?.hasError('required')">
            Pflichtfeld!
        </div>
        
        <div *ngIf="f?.controls?.von?.hasError('ort')">
            Ort wird nicht angeflogen!
        </div>
        

	</div>

	<div class="form-group">
		<label>Nach</label>
		<input [(ngModel)]="nach" ortAsync name="nach" ngControl="nach" class="form-control">
        <div *ngIf="f.controls.nach?.hasError('ortAsync')">
            Ort wird nicht angeflogen!
        </div>
        <div *ngIf="f.controls.nach?.pending">
            Pending!!
        </div>

	</div>

	<div class="form-group">
		<label>Max. Segmente</label>
		<input [(ngModel)]="maxSegmente" ngControl="maxSegmente" class="form-control" min="1" max="5">
        <div *ngIf="f.controls.maxSegmente?.hasError('range')">
            Dieser Wert muss zwischen zwischen 1 und 5 befinden.
        </div>
	</div>
    
	<div class="form-group">
		<input type="button"
				class="btn btn-default"
				value="Suchen!"
				[disabled]="!f.valid"
				(click)="suchen()">
	</div>
</form>


<table class="table table-striped" [hidden]="flugManager.fluege.length == 0">

	<tr>
		<th>Id</th>
		<th>Datum</th>
		<th>Von</th>
		<th>Nach</th>
		<th>Aktionen</th>
	</tr>

	<tr *ngFor='#f of flugManager.fluege' class="active" [class.active]='f == flugManager.selectedFlug' >
		<td>{{f.id}}</td>
		<td>{{f.datum.substr(0,10) }}</td>
		<td>{{f.abflugort | ort:'short' }}</td>
		<td>{{f.zielort | ort:'short'}}</td>
		<td>
			<a href="javascript:void(0)"
				(click)="selectFlug(f)">Auswählen</a> |
			<a href="javascript:void(0)"
				[routerLink]="['../FlugEdit', {id: f.id}]">Editieren</a>
		</td>
	</tr>
</table>


<div>
	<div *ngFor='#f of fluege' class="col-sm-4" >
		<flug-card
			[item]="f"
			[selectedItem]="selectedFlug"
			(selectedItemChange)="selectedFlug = $event">

			<p>
				{{f.freiePlaetze}} von {{f.plaetze}} Plätzen frei.
			</p>

		</flug-card>
	</div>
</div>
